*{padding: 0; margin: 0;
/* 	border: solid red 1px; */
};
section,nav,article,header,main{display: block;}
body{}
header{
  height: 62px;
  background-color: #f4f4f4;
  position: relative;
}
li{
	padding-top:5px;
	padding-bottom:5px;
}
a{
  text-decoration: none;
  padding: 23px 18px 23px 18px;
  color:#000000;
}
#logoSec{
  width: 115px;
  height: 62px;
  display: inline-block;
  left:75px;
  position: absolute;
  background: url("../images/Count_me_in_logo.png") no-repeat center left;
}
#brandName{
  position: absolute;
  left: 22px;
  top:24px;
  font-size: 14px;
  font-family: "Abril Fatface";
  color:#000000;
}
.navbar-default {
    background-color: #f4f4f4;
    /* border-color: #e7e7e7; */
}
.navbar {
      min-height: 50px;
      border: none;
      font-size: 14px;
	  color: #000;
	  position: relative;
	  display: inline-block;
	  left: 243px;
	  font-family:"Helvetica";
}

.dashBoard{
  background-color: #f4f4f4;
  opacity: 50%;
  border-top-right-radius:35px;
  border-top-left-radius: 35px;
  margin: 12px 5px 0 5px;
}
