*{padding: 0; margin: 0;
/* 	border: solid red 1px; */
};
section,nav,article,header,main{display: block;}
header{
  height: 62px;
  background-color: #f4f4f4;
  position: relative;
}
body{
	font-family:"Helvetica";
}
a{
  text-decoration: none;
  padding: 23px 18px 23px 18px;
  color:#000000;
}
#logoSec{
  width: 115px;
  height: 62px;
  display: inline-block;
  left:75px;
  position: absolute;
  background: url("../images/Count_me_in_logo.png") no-repeat center left;
}
#brandName{
  position: absolute;
  left: 22px;
  top:24px;
  font-size: 14px;
  font-family: "Abril Fatface";
  color:#000000;
}
.navbar-default {
    background-color: #f4f4f4;
    /* border-color: #e7e7e7; */
}
.navbar {
      min-height: 50px;
      border: none;
      font-size: 14px;
	  position: relative;
	  display: inline-block;
	  left: 243px;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #92C6E4;
    color:#f5f5f5;
    font-weight:bold;
}

.navbar-nav>li>a {
    padding-top: 21px;
    padding-bottom: 21px;
}
.accountDiv{
	border-left: #ffffff solid 2px;
	position: absolute;
	right:0px;
	top:0px;
	height:62px;
	width:20%;
	background: url("../images/User.png") no-repeat 18px center;
	background-size: 27px 27px;
}
.accountName{
	margin-top: 22px;
	margin-left: 59px;
}

.dashBoard{
  background-color: #f4f4f4;
  opacity: 50%;
  margin: 12px 5px 0 5px;
}

.OptionHeader{
	
}
.OptionSearch{
}	


.title{
  background-color: #f0865a;
  border: solid 1px #f89406;
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  font-size: 26px;
  color: #fff;
  padding: 10px 0 10px 0;
  margin: 0;
}
.radius-top-left{
    border-top-left-radius:35px;
}
.radius-top-right{
  border-top-right-radius: 35px;
}
.radius-bottom-right{
  border-bottom-right-radius:35px;
}
.radius-bottom-left{
  border-bottom-left-radius:35px;
}
