body{
	font-family:"Helvetica";
}

*{padding: 0; margin: 0 auto;
/* 	border: solid red 1px; */
};
section,nav,article,header,main{display: block;}
header{
  height: 62px;
  background-color: #f4f4f4;
}
body{
	font-family:"Helvetica";
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
}
tbody tr:last-child td:first-child{
	border-bottom-left-radius:9px;
	
}
tbody .alert-success{
	min-height:33px
}
#logoSec{
  width: 115px;
  height: 62px;
  padding-top: 23px;
  margin-left: 10px;
  display: inline-block;
  background: url("../images/Count_me_in_logo.png") no-repeat center left;

}
#brandName{
  margin-left: 22px;
  font-size: 14px;
  font-family: "Abril Fatface";
  color:#000000;
}


nav{
  background-color: #f4f4f4;
}

nav .active>a{
  background-color: #92C6E4;
  font-weight:bold;
    color:#fff;
}
nav a{
    color: #000;
}
.navbar-nav>li>a {
    padding-top: 21px;
    padding-bottom: 21px;
}
.icon-bar{
  border: 1px solid #000;
}

footer{
  clear: both;
  height: 62px;
  padding-top: 23px;
}
@media (min-width: 768px){
  #logoSec{
    margin-left: 75px;
}
}

#dashBoard{
  background-color: #f4f4f4;
  opacity: 50%;
  margin: 12px 5px 0 5px;
}


.title{
  background-color: #f0865a;
  border: solid 1px #f89406;
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  font-size: 26px;
  color: #fff;
  padding: 10px 0 10px 0;
  margin: 0;
}
.weekSection{
  background: #f4f4f4;
  padding: 15px 0 15px 69px;
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  color: #cccccc;
  font-size: 14px;
}
.radius-top-left{
    border-top-left-radius:35px;
}
.radius-top-right{
  border-top-right-radius: 35px;
}
.radius-bottom-right{
  border-bottom-right-radius:35px;
}
.radius-bottom-left{
  border-bottom-left-radius:35px;
}
.bottom-border-none{
	border-bottom: none;
}
.top-border-none{
	border-top: none;
}
.whiteLine80{
	width:80%;
	height:50px;
	border-bottom: 1px solid #ffffff;
}
.WindowContent{
	background:#f4f4f4;
	margin:0px;
	padding-bottom: 23px;
}
.hiddenStyle{
	background-color: #F9C2AE !important;
}


.form-group {
    margin:0;
    padding:20px ;

    &:first-child { border-color: transparent; }
}

.form-control {
  padding: 0px 10px 0 20px;
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:30px;
    height: auto;
    border-radius: 50px 0  0 50px !important;
}
.form-control :focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: transparent;

    }

#searchbtn
{
border:0;
  padding: 0px 10px;
  margin-top: 10px;
  color: #fff;
  background:#ffc94b;
  font-size: 14px;
  font-weight: 500;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:30px;
    height: auto;
border-radius: 0 50px 50px 0 !important;
}
.test{
	margin: 15px 5px 15px 5px;
}

.dateCircle {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background-color: #eeeeee;
    padding-top: 1.7vw;
    color: #000;
    font-weight: 700;
    margin-top: 15px;
}
#dashBoard .active{
  border:solid 1px #f0865a;
}

.sidebarDiv{
	height:36px;
	border-bottom: 1px solid #cccccc;
	width:90%;
	text-align: -webkit-left;
	padding-top:8px;
	}
.checkbox{
	font-size: 10px;
	
}
.toggle{
 display:inline-block;
height:25px;
width:25px;  
background:url("../images/PLUS1.png");
background-size:25px 25px;
}
.toggle.expanded{
  height:25px;
  width:25px;  
  background:url("../images/MINUS1.png");
  background-size:25px 25px;
}